<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row">

    <div style="width: 230.77px"><button mat-stroked-button class="toolbar-row-button"
            [matTooltip]="'Back to the Canvas'"
            [routerLink]="['/home']"><mat-icon>exit_to_app</mat-icon></button>
    </div>

<!--    <div  style="text-align: center; width: 100%; position: absolute;">About</div>-->

    <span class="toolbar-spacer">About</span>

    <img src="assets/banner.png"
         style="max-width:100%;max-height:100%" [routerLink]="['/home']"/>
  </mat-toolbar-row>
</mat-toolbar>


<mat-card fxLayout="column" style="margin: 8px;" >
  <mat-card-title style="width: 100%; text-align: center">SBOL Canvas</mat-card-title>
  <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div style="max-width: 800px;">
      <p style="text-align: center;">
      Biologists often face the challenge of effectively communicating DNA sequences and their behaviors. An increasingly popular solution is SBOL, the Synthetic Biology Open Language. It is a diagram syntax that models genetic systems, allowing for both abstract visualizations and detailed data. Unfortunately, the complexity of creating SBOL documents is limiting this powerful language’s growth. SBOL, while characterized by graphic models, is lacking tools for graphical editing. Until now.
      </p>
      <p style="text-align: center;">
      SBOL Canvas is a web-based graphical editor that opens synthetic biology design to anyone from students to advanced researchers. Users will enjoy a simple interface for creating diagrams that are both artistic and scientific. By interfacing with existing SBOL databases, SBOL Canvas lets users share their designs and easily reference the research of others. This editor significantly lowers SBOL’s barrier to entry, helping it carry synthetic biology to new heights.
      </p>
    </div>
  </mat-card-content>
</mat-card>

<mat-divider></mat-divider>

<mat-grid-list cols="3" rowHeight="3:1">

  <mat-grid-tile>
    <mat-grid-tile-header>Jared Earl</mat-grid-tile-header>
    adfs
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-grid-tile-header>Logan Terry</mat-grid-tile-header>
    adfs
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-grid-tile-header>Sam Thayer</mat-grid-tile-header>
    adfs
  </mat-grid-tile>
</mat-grid-list>
