
/* Needed because angular material developers are stupid. */
.mat-icon {
  vertical-align: middle;
}

.glyphContainer {
  width: 250px
}

button {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
