
/* Needed because angular material developers are stupid. */

.glyphContainer {
  /* width: 250px; */
  /* padding: 5px; */
}

.flexWrapper {
    display: flex;
    flex-direction: column;
}

.searchBar {
    margin: 15px 10px 0px 10px;
}

.glyphMenuSection {
    box-shadow: none;
    background: transparent;
}

.glyphGrid {
    margin: 0 -10px;
}

button {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
