[Unit]
Description=Tomcat 9 servlet container
After=network.target

[Service]
Type=forking
User=root
Group=root
Environment="JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.222.b10-1.el7_7.arm/"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"
Environment="CATALINA_BASE=/opt/tomcat/enabled"
Environment="CATALINA_HOME=/opt/tomcat/enabled"
Environment="CATALINA_PID=/opt/tomcat/enabled/temp/tomcat.pid"
ExecStart=/opt/tomcat/enabled/bin/startup.sh
#Environment="CATALINA_OPTS=-Xms256M -Xmx512M -server -XX:+UseParallelGC -XX:PermSize=64m -XX:MaxPermSize=384m -Djava.net.preferIPv4Stack=true -Djava.awt.headless=true"
Environment="CATALINA_OPTS=-Xms800M -Xmx800M -Djava.awt.headless=true -Djava.net.preferIPv4Stack=true"
ExecStop=/opt/tomcat/enabled/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
