.design-menu-container {
  display: flex;
  flex-direction: column;
}

.design-menu-container > * {
  width: 100%;
}

.number-input {
  max-width: 90px;
}

.setting-label {
  text-align: right;
}

.design-menu-input {
  text-align: right;
}

/* This makes arrows in matInput type=number always show up in chrome.
    Normally in chrome they only show on hover*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

/* For icon drop down options */
img {
  vertical-align:middle;
}

.design-menu-container h4 {
    margin: 0;
}