.design-menu-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.design-menu-container > * {
  width: 100%;
}

.number-input {
  max-width: 70px;
}

.setting-label {
  text-align: right;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding: 0.1em 0 0.1em 0 !important;
  top: -0.15em;
}

.design-menu-input {
  text-align: right;
}

/* This makes it so the select value is right aligned. Blows my mind there is
no other way to do this when ng-deep is deprecated in Angular 8*/
:host ::ng-deep .mat-select-value {
  text-align: right;
}

/**
This is needed to reduce the padding for the outline appearance of mat-form-field
 */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.1em 0 0.1em 0 !important;
  top: -0.25em;
}

/* This makes arrows in matInput type=number always show up in chrome.
    Normally in chrome they only show on hover*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

/* For icon drop down options */
img {
  vertical-align:middle;
}

