<div *ngIf="styleInfo" class="design-menu-container">

  <div *ngIf="styleInfo.hasStrokeColor()"
       [matTooltip]="'Color of the selected glyph\'s lines'">
    <label mat-label>Stroke Color: </label>
    <button mat-stroked-button class="design-menu-input" [style.backgroundColor]="styleInfo.currentStrokeColor()"
            (click)="setStrokeColorClicked()">&nbsp;</button>
    <br>
  </div>

  <div *ngIf="styleInfo.hasStrokeOpacity()"
       [matTooltip]="'Opacity of the selected glyph\'s lines'">
    <label mat-label>Stroke Opacity: </label>
<!--    <span class="design-input-spacer"></span>-->
    <mat-form-field appearance="outline" class="number-input design-menu-input">
      <input #endSizeInput matInput type="number" min="0" max="100" oninput="validity.valid||(value='');"
             (change)="styleInfo.setStrokeOpacity($event.target.value)" [value]="styleInfo.currentStrokeOpacity()">
    </mat-form-field>
    <br>
  </div>

  <div *ngIf="styleInfo.hasStrokeWidth()"
       [matTooltip]="'Width of the selected glyph\'s lines'">
    <label mat-label>Stroke Width: </label>
    <mat-form-field appearance="outline" class="number-input">
      <input #endSizeInput matInput type="number" min="1" step="0.1" oninput="validity.valid||(value='');"
             (change)="styleInfo.setStrokeWidth($event.target.value)" [value]="styleInfo.currentStrokeWidth()">
    </mat-form-field>
    <br>
  </div>

  <div *ngIf="styleInfo.hasFillColor()"
       [matTooltip]="'Color of the selected glyph\'s interior'">
    <label mat-label>Fill Color: </label>
    <button mat-stroked-button [style.backgroundColor]="styleInfo.currentFillColor()"
            (click)="setFillColorClicked()">&nbsp;</button>
    <br>
  </div>

  <div *ngIf="styleInfo.hasFillOpacity()"
       [matTooltip]="'Opacity of the selected glyph\'s interior'">
    <label mat-label>Fill Opacity: </label>
    <mat-form-field appearance="outline" class="number-input">
      <input #endSizeInput matInput type="number" min="0" max="100" oninput="validity.valid||(value='');"
             (change)="styleInfo.setFillOpacity($event.target.value)" [value]="styleInfo.currentFillOpacity()">
    </mat-form-field>
    <br>
  </div>

  <div *ngIf="styleInfo.hasEdgeStyle()"
       [matTooltip]="'Shape of the interaction\'s line'">
    <label mat-label>Connection Style: </label>
    <mat-form-field appearance="outline" style="max-width:90px;">
      <mat-select value="{{styleInfo.currentEdgeStyle()}}" (selectionChange)="styleInfo.setEdgeStyle($event.value)">
        <mat-select-trigger>
          <img src="assets/icons/{{styleInfo.currentEdgeStyle()}}.png"/>
        </mat-select-trigger>

        <mat-option value="{{mx.mxConstants.EDGESTYLE_ORTHOGONAL}}" [matTooltip]="'Customizable line composed of orthogonal segments'">
          <img src="assets/icons/orthogonalEdgeStyle.png"/>
        </mat-option>

        <!-- mxConstants doesn't define an option for diagonal since it's the default -->
        <mat-option value="{{'diagonalEdgeStyle'}}" [matTooltip]="'Straight line between endpoints'">
          <img src="assets/icons/diagonalEdgeStyle.png"/>
        </mat-option>

        <mat-option value="{{mx.mxConstants.EDGESTYLE_ENTITY_RELATION}}" [matTooltip]="'Horizontal segments near endpoints'">
          <img src="assets/icons/entityRelationEdgeStyle.png"/>
        </mat-option>
        <mat-option value="{{mx.mxConstants.EDGESTYLE_SIDETOSIDE}}" [matTooltip]="'Simple style for horizontally spaced endpoints'">
          <img src="assets/icons/sideToSideEdgeStyle.png"/>
        </mat-option>
        <mat-option value="{{mx.mxConstants.EDGESTYLE_TOPTOBOTTOM}}" [matTooltip]="'Simple style for vertically spaced endpoints'">
          <img src="assets/icons/topToBottomEdgeStyle.png"/>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
  </div>

  <div *ngIf="styleInfo.hasBendStyle()"
       [matTooltip]="'Shape of interaction\'s corners'">
    <label mat-label>Corner Style: </label>
    <mat-form-field>
      <mat-select value="{{styleInfo.currentBendStyle()}}" (selectionChange)="styleInfo.setBendStyle($event.value)">
        <mat-option value="sharp">Sharp</mat-option>
        <mat-option value="rounded">Rounded</mat-option>
        <mat-option value="curved">Curved</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
  </div>

  <div *ngIf="styleInfo.hasEndSize()"
       [matTooltip]="'Size of interaction glyph'">
    <label mat-label>Arrow Size: </label>
    <mat-form-field appearance="outline" class="number-input">
      <input #endSizeInput matInput type="number" min="0" oninput="validity.valid||(value='');"
             (change)="styleInfo.setEndSize($event.target.value)" [value]="styleInfo.currentEndSize()">
    </mat-form-field>
    <br>
  </div>

  <div *ngIf="styleInfo.hasSourceSpacing()"
       [matTooltip]="'Space between interaction and its source participant. Use negative values to get closer.'">
    <label mat-label>Source Spacing: </label>
    <mat-form-field appearance="outline" class="number-input">
      <input #endSizeInput matInput type="number"
             (change)="styleInfo.setSourceSpacing($event.target.value)" [value]="styleInfo.currentSourceSpacing()">
    </mat-form-field>
    <br>
  </div>

  <div *ngIf="styleInfo.hasTargetSpacing()"
       [matTooltip]="'Space between interaction and its target participant. Use negative values to get closer.'">
    <label mat-label>Target Spacing: </label>
    <mat-form-field appearance="outline" class="number-input">
      <input #endSizeInput matInput type="number"
             (change)="styleInfo.setTargetSpacing($event.target.value)" [value]="styleInfo.currentTargetSpacing()">
    </mat-form-field>
    <br>
  </div>

  <div *ngIf="styleInfo.hasFontColor()"
       [matTooltip]="'Color of selected object\'s text'">
    <label mat-label>Font Color: </label>
    <button mat-stroked-button [style.backgroundColor]="styleInfo.currentFontColor()"
            (click)="setFontColorClicked()">&nbsp;</button>
    <br>
  </div>

  <div *ngIf="styleInfo.hasFontOpacity()"
       [matTooltip]="'Opacity of selected object\'s text'">
    <label mat-label>Text Opacity: </label>
    <mat-form-field appearance="outline" class="number-input">
      <input #endSizeInput matInput type="number" min="0" max="100" oninput="validity.valid||(value='');"
             (change)="styleInfo.setFontOpacity($event.target.value)" [value]="styleInfo.currentFontOpacity()">
    </mat-form-field>
    <br>
  </div>

  <div *ngIf="styleInfo.hasFontSize()"
       [matTooltip]="'Size of selected object\'s text'">
    <label mat-label>Font Size: </label>
    <mat-form-field appearance="outline" class="number-input">
      <input #endSizeInput matInput type="number" min="1" oninput="validity.valid||(value='');"
             (change)="styleInfo.setFontSize($event.target.value)" [value]="styleInfo.currentFontSize()">
    </mat-form-field>
    <br>
  </div>

</div>
