<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row">

    <div style="width: 230.77px"><button mat-stroked-button class="toolbar-row-button"
                                         [matTooltip]="'Back to the Canvas'"
                                         [routerLink]="['/']"><mat-icon>exit_to_app</mat-icon></button>
    </div>

    <span class="toolbar-spacer" style="font-weight: bold; font-size: 34px">Tutorial</span>

    <img src="assets/banner.png"
         style="max-width:100%;max-height:100%" [routerLink]="['/']"/>
  </mat-toolbar-row>
</mat-toolbar>


<mat-card fxLayout="column" style="margin: 8px;" >
  <mat-card-content fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div style="max-width: 1200px;">
      <p class="about-text">
        SBOL Canvas is the newest tool for creating SBOL documents.
        For an in-depth guide to SBOL structure and syntax, go to <a href="https://sbolstandard.org/">sbolstandard.org</a>.
        During development, SBOL Canvas's designers drew inspiration from <a href="https://sboldesigner.github.io/">SBOL Designer</a> and <a href="https://draw.io">Draw.io</a>, so it's workflow should be intuitive for anyone familiar with those editors.
      </p>
      <p class="about-text">
        SBOL Canavas's <a [routerLink]="['/']">main page</a> is divided into four parts. We will refer to these parts by name throughout the tutorial.
      </p>
      <ul class="about-text">
        <li>
          <b>The toolbar:</b> The blue bar at the top of the screen. It is full of options for manipulating your diagram.
        </li>
        <li>
          <b>The glyph menu:</b> The list of glyphs on the left side of the screen. This allows you to add components to your diagram.
        </li>
        <li>
          <b>The canvas:</b> The large region in the center of the screen. This is where your diagram appears. In SBOL terms, this canvas is a Module Definition that you will add components to.
        </li>
        <li>
          <b>The side menu:</b> A menu on the right side of the screen.
          This is split between the <b>info menu,</b> which has options for editing components' SBOL attributes; and the <b>design menu,</b> which has options for changing glyph's appearances.
          To switch between the <b>info menu</b> and the <b>design menu,</b> click on the words "Info" or "Design," as pictured here:
          <br>
          <img src="assets/tutorial_pics/side_menu_top.png"/>
          <br>
          Note that both of these menus are empty unless a component is selected on the <b>canvas.</b>
        </li>
      </ul>
      <p class="about-text">Most of SBOL Canvas's options have a tooltip. Move the mouse over buttons or text fields to see a brief description.</p>


      <h2>
        Getting Started
      </h2>
      <ul class="about-text">
        <li>
          Get started by adding a DNA strand to the canvas. Find the search bar at the top of the <b>glyph menu:</b>
          <br>
          <img src="assets/tutorial_pics/search_bar.png" />
          <br>
          Then type in "dna." This brings up an icon for creating new backbones: the horizontal line as shown below.
          <br>
          <img src="assets/tutorial_pics/backbone.png" />
          <br>
          You can click on the horizontal line to create a backbone in the center of your <b>canvas</b>, or click-and-drag to drop it anywhere you like.
        </li>

        <li>
          To add components to your strand, first click the search bar's "X" to clear your search, then choose any glyph from the "Sequence Features" section.
          Clicking on them will add them to the currently selected strand, and click-and-dragging will add them to the strand of your choice.
        </li>

        <li>
          You can add Molecular Species glyphs, Interactions, Textboxes, and additional DNA strands in the same way.
        </li>
      </ul>

      <h2>
        Manipulating the Canvas
      </h2>
      <ul class="about-text">
        <li>
          Tap left-click to select different components. The contents of the <b>info menu</b> and <b>design menu</b> apply to whatever you have selected. Selection is indicated by a green, dashed box.
        </li>
        <li>
          <b>IMPORTANT:</b> Selecting glyphs on a DNA strand is different from selecting the strand itself. To select a single glyph on the strand, click exactly on it.
          To select the entire strand, click on the horizontal line, or the empty space near it.
          <br>
          <img src="assets/tutorial_pics/selection_glyph_vs_strand.png" />
        </li>
        <li>
          To select multiple parts, left-click on an empty part of the canvas (away from any component), and drag to create a light-blue box. Anything inside the box when you release the mouse button will be selected.
          Note that the <b>info menu</b> will be empty if more than one component is selected.
        </li>
        <li>
          Holding CTRL (CMD for Mac) while clicking adds or removes components from the selection.
        </li>
        <li>
          Left-click-and-drag on a component to move it (and other selected components, if any). For sequence feature glyphs, this reorders them on the strand. To move the entire strand, select it instead of the glyphs.
        </li>
        <li>
          Right-click-and-drag on an empty part of the canvas to move your view around.
        </li>
        <li>
          This section of the <b>toolbar</b> has several important options:
          <br>
          <img src="assets/tutorial_pics/simple_toolbar_options.png" />
          <br>
          These are controls for zooming in and out of the <b>canavs,</b> deleting the selected components, and undoing/redoing recent changes.
          Deleting glyphs can also be done with the "delete" and "backspace" keys on your keyboard, and undoing/redoing can be done with CTRL+Z and CTRL+SHIFT+Z respectively.
        </li>
      </ul>


      <h2>
        Saving and Loading
      </h2>
      <ul class="about-text">
        <li>
          Click on "File" on the left side of the <b>toolbar</b> to open a menu with various options for saving and loading modules.
        </li>
        <li>
          Under "Local Device," choose "Download" to save a personal copy of your diagram, or "Upload" to open a file you previously downloaded. <b>WARNING:</b> opening files will delete any diagram you currently have.
        </li>
        <li>
          Under "SynBioHub," choose "Save" to save your diagram as a module definition to a SynBioHub instance. Similarly, choose "Load" to open an existing module definition. <b>WARNING:</b> loading files will delete any diagram you currently have.
        </li>
        <li>
          Choosing "Export" (under "Local Device") lets you save your diagram in a picture format. SVG, PNG, JPEG, and GIF are supported.
        </li>
        <li>
          To load a component into your current diagram, first create a sequence feature glyph as a placeholder for the component you want to import. Select it, then, at the bottom of the <b>info menu,</b> choose "Import Component."
        </li>
      </ul>


      <h2>
        More Features
      </h2>
      <ul class="about-text">
        <li>
          Recursive glyphs
        </li>
        <li>
          Toggle scars
        </li>
        <li>
          Move to Front and Back
        </li>
        <li>
          Glyph flipping
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
