/* This sets the space between sets of buttons */
.toolbar-spacer {
  flex: 1 1 auto;
}

/* Not sure exactly how this works but it makes the menu
 bigger so that it can fit the buttons. */
::ng-deep .mat-menu-panel {
  padding: 0 10px!important;
  width: 100%!important;
}

/* This sets the css for the buttons on the row */
.toolbar-row-button {
  margin-right: 8px;
  margin-left: 8px;
}


.mat-toolbar {
  background: transparent;
  position: fixed;
  z-index: 999;
}

.toolbar-row .mat-card {
  margin: 0 4px;
}

.toolbar-row .mat-card-footer {
  text-align: center;
  font-size: 0.6em;
}

/* There is a bug with vertical dividers in
   toolbar rows so you have to manually fix
   the styling for the divider.
 */
mat-divider.toolbar-divider-style-fix {
  height: 40px;
  margin-left: 8px;
  margin-right: 8px;
}

.toolbar-row {
  padding: 8px;
  height: 100px;
}


.menuSectionLabel {
  font-family:sans-serif;
  font-size:.8em;
  color:gray;
}