<mat-toolbar color="primary">
<!--             style="background-image:url('assets/banner.png'); background-repeat:no-repeat; background-position:center; background-size:contain">-->

<!-- menu -->
  <mat-toolbar-row class="toolbar-row">

<!--    <mat-divider class="toolbar-divider-style-fix" [vertical]="true"></mat-divider>-->

<!--    <span class="toolbar-spacer"></span>-->

<!--    <mat-divider class="toolbar-divider-style-fix" [vertical]="true"></mat-divider>-->

    <!--    File menu-->
    <button mat-stroked-button class="toolbar-row-button" [matMenuTriggerFor]="fileMenu">File</button>
    <mat-menu #fileMenu="matMenu">
      <button mat-menu-item
              class="toolbar-row-button"
              (click)="openUploadDialog()">Upload</button>
              
      <button mat-menu-item
              class="toolbar-row-button"
              (click)="openDownloadDialog()">Download</button>

      <button mat-menu-item
              class="toolbar-row-button"
              (click)="openSaveDialog()">Save</button>

      <button mat-menu-item
              class="toolbar-row-button"
              (click)="openLoadDialog()">Load</button>

      <button mat-menu-item
              class="toolbar-row-button"
              (click)="openExportDialog()">Export</button>
    </mat-menu>

    <!--    View menu-->
    <button mat-stroked-button class="toolbar-row-button" [matMenuTriggerFor]="viewMenu">View</button>
    <mat-menu #viewMenu="matMenu">
      <button mat-menu-item
              class="toolbar-row-button"
              (click)="graphService.enterGlyph()">Enter Glyph</button>

      <button mat-menu-item
              class="toolbar-row-button"
              (click)="graphService.exitGlyph()">Exit Glyph</button>

      <button mat-menu-item
              class="toolbar-row-button"
              (click)="graphService.zoomIn()">Zoom In</button>

      <button mat-menu-item
              class="toolbar-row-button"
              (click)="graphService.zoomOut()">Zoom Out</button>

      <button mat-menu-item
              class="toolbar-row-button"
              (click)="graphService.fitCamera()">Fit Camera</button>
    </mat-menu>


      <button mat-stroked-button
              class="toolbar-row-button"
              (click)="graphService.delete()">Delete</button>

      <button mat-stroked-button
              class="toolbar-row-button"
              (click)="graphService.undo()">Undo</button>

      <button mat-stroked-button
              class="toolbar-row-button"
              (click)="graphService.redo()">Redo</button>

      <button mat-stroked-button
              class="toolbar-row-button"
              (click)="graphService.flipSequenceFeatureGlyph()">Flip</button>

      <button mat-stroked-button
              class="toolbar-row-button"
              (click)="graphService.toggleScars()">Toggle Scars</button>

  </mat-toolbar-row>
</mat-toolbar>
